body {
  background-color: black;
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 270px;
  border: 1px solid red;
  margin: 10px;
  border-radius: 15px;
  transition: transform ease 0.5s;
  justify-content: center;
  align-items: center;
 
}

.card:hover{
  cursor: pointer;
  transform: translateY(-5px);
  color: aliceblue;
  background-color: #67809f;
  }

.card-image {
  height:180px;
  margin-bottom: 15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.car-1{
  /* background-image: url(/img/f_logo_blue.png); */
  height: 75px;
  width: 75px;
  background-color: #67809f;
  border-radius: 50%;
}
.car-1:hover{
  background-color: white;
}

.car-2{
  background-image: url(/img/hamburger.png);
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.car-3{
  background-image: url(/img/Instagram_logo_2016.svg.webp);
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.card h2{
  padding: 10px;
}
.card p{
  padding: 10px;
}

.card a{
  background-color: rgb(74, 136, 165);
  color: white;
  border-radius: 5px;
  padding: 15px;
  display: block; 
  text-align: center;
  margin: 50px;
  text-decoration: none;
 

}



.card > #card-1:hover{
  background-color: white;
  color: #67809f;
}