
/*   background-color: var(--bespoke);  */
:root {
  --bespoke: #67809f; 
  --itsupport: #4183d7;
  --digmarket: #2ecc71;
  --telecoms:  #d64541;
  --webdesign:#926fb1;
  --cyber:#f62459;
  --developer:#ce4125;
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
  width:80vw;
  height: 290px;
  border: 1px solid gray;
  margin: 10px;
  border-radius: 15px;
  transition: transform ease 0.5s;
  justify-content: center;
  align-items: center;
  }


/* Styling colored circles for each card */

.car-1{
  background-color: var(--bespoke);
  width: 65px;
  height: 65px;
  border-radius:50%;
  margin-top: 10px;
}
.car-2{
  background-color: #4183d7;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-top: 10px;
}
.car-3{
  background-color: #2ecc71;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-top: 10px;
}
.car-4{
  background-color: #d64541;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-top: 10px;
}
.car-5{
  background-color: #926fb1;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-top: 10px;
}
.car-6{
  background-color: #f62459;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-top: 10px;
}
.car-7{
  background-color: #ce4125;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-top: 10px;
}

.card h2{
  padding: 3px;
}
.card p{
  padding: 3px;
  margin: -25px;
  line-height: 20px;
}

.card a{
  color: white;
  border-radius: 5px;
  padding: 15px;
  display: block; 
  text-align: center;
  margin-top: 30px;
  text-decoration: none;
 } 


@media (min-width:769px){
  .card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
.telecom, 
.web{
  flex-basis: calc(35% - 1em);
  max-width: calc(35% - 1em);
  }
  .security,
  .developer{
    flex-basis: calc(35% - 1em);
    max-width: calc(35% - 1em);
  }
}

@media (min-width:960px) and (max-width:1249px){
  .card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  .bespoke,
  .support,
  .marketing{
    flex-basis: calc(20% - 1em);
    max-width: calc(20% - 1em);
  }
}
@media (min-width:1250px){
  .card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  .bespoke,
  .support,
  .marketing{
    flex-basis: calc(23% - 1em);
    width: calc(23% - 1em);
    
  }
  .telecom, 
  .web,
  .security,
  .developer{
    flex-basis: calc(15% - 1em);
    width: calc(15 - 1em);
  }
}


/* end of media Queries */


 .card:hover{
  cursor: pointer;
  transform: translateY(-5px);
  color: white;
  border: none;
  }
  .card:hover a{
    background-color: white;
  }
.bespoke:hover{
  background-color: var(--bespoke);
  transition: transform ease 0.5s;
}
.bespoke:hover .car-1{
  background-color: white;  
}
.support:hover{
  background-color: var(--itsupport);
}
.support:hover .car-2{
  background-color: white;
}
.marketing:hover{
  background-color: var(--digmarket);
}
.marketing:hover .car-3{
  background-color: white;
}
.telecom:hover{
  background-color: var(--telecoms);
}
.telecom:hover .car-4{
  background-color: white;
}
.web:hover{
  background-color: var(--webdesign);
}
.web:hover .car-5{
  background-color: white;
}
.security:hover{
  background-color: var(--cyber);
}
.security:hover .car-6{
  background-color: white;
}
.developer:hover{
  background-color: var(--developer);
}
.developer:hover .car-7{
  background-color: white;
}
.developer:hover a{
  color: var(--developer);
}
.bespoke a{
  background-color: var(--bespoke);
  color: white;
}
.bespoke:hover a{
  color: var(--bespoke);
}
.support a{
  background-color: var(--itsupport);
}
.support:hover a{
  color: var(--itsupport);
}
.marketing a{
  background-color: var(--digmarket);
}
.marketing:hover a{
  color: var(--digmarket);
}
.telecom a{
  background-color: var(--telecoms);
}
.telecom:hover a{
  color: var(--telecoms);
}
.web a{
  background-color: var(--webdesign);
}
.web:hover a{
  color: var(--webdesign);
}
.security a{
  background-color: var(--cyber);
}
.security:hover a{
  color: var(--cyber)
}
.developer a{
  background-color: var(--developer);
}
.developer:hover a{
  color: var(--developer);
}



